# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
MDK_Project/Objects/bsp_led.crf
MDK_Project/Objects/bsp_led.crf
MDK_Project/Objects/Project.axf
MDK_Project/Objects/Project.build_log.htm
MDK_Project/Objects/Project.htm
MDK_Project/Objects/Project.lnp
MDK_Project/Objects/Project_Projet.dep
MDK_Project/Project.uvguix.Administrator
MDK_Project/Project.uvoptx
MDK_Project/Objects/bsp_esp01s.crf
MDK_Project/Objects/bsp_led.crf
MDK_Project/Objects/core_cm3.crf
MDK_Project/Objects/main.crf
MDK_Project/Objects/misc.crf
MDK_Project/Objects/Project.build_log.htm
MDK_Project/Objects/Project.htm
MDK_Project/Objects/Project_Projet.dep
MDK_Project/Objects/stm32f10x_adc.crf
MDK_Project/Objects/stm32f10x_bkp.crf
MDK_Project/Objects/stm32f10x_can.crf
MDK_Project/Objects/stm32f10x_cec.crf
MDK_Project/Objects/stm32f10x_crc.crf
MDK_Project/Objects/stm32f10x_dac.crf
MDK_Project/Objects/stm32f10x_dbgmcu.crf
MDK_Project/Objects/stm32f10x_dma.crf
MDK_Project/Objects/stm32f10x_exti.crf
MDK_Project/Objects/stm32f10x_flash.crf
MDK_Project/Objects/stm32f10x_fsmc.crf
MDK_Project/Objects/stm32f10x_gpio.crf
MDK_Project/Objects/stm32f10x_i2c.crf
MDK_Project/Objects/stm32f10x_it.crf
MDK_Project/Objects/stm32f10x_iwdg.crf
MDK_Project/Objects/stm32f10x_pwr.crf
MDK_Project/Objects/stm32f10x_rcc.crf
MDK_Project/Objects/stm32f10x_rtc.crf
MDK_Project/Objects/stm32f10x_sdio.crf
MDK_Project/Objects/stm32f10x_spi.crf
MDK_Project/Objects/stm32f10x_tim.crf
MDK_Project/Objects/stm32f10x_usart.crf
MDK_Project/Objects/stm32f10x_wwdg.crf
MDK_Project/Objects/sys.crf
MDK_Project/Objects/system_stm32f10x.crf
MDK_Project/Objects/systick_delay.crf
MDK_Project/Project.uvguix.18452
MDK_Project/Project.uvoptx
MDK_Project/Project.uvprojx
MDK_Project/startup_stm32f10x_hd.lst
MDK_Project/Objects/bsp_esp01s.crf
MDK_Project/Objects/main.crf
MDK_Project/Objects/Project.build_log.htm
MDK_Project/Objects/Project.htm
MDK_Project/Objects/Project_Projet.dep
MDK_Project/Objects/stm32f10x_it.crf
MDK_Project/Objects/sys.crf
MDK_Project/Objects/systick_delay.crf
MDK_Project/Project.uvguix.Administrator
MDK_Project/Project.uvoptx
