# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
MDK_Project/Objects/bsp_led.crf
MDK_Project/Objects/bsp_led.crf
MDK_Project/Objects/Project.axf
MDK_Project/Objects/Project.build_log.htm
MDK_Project/Objects/Project.htm
MDK_Project/Objects/Project.lnp
MDK_Project/Objects/Project_Projet.dep
MDK_Project/Project.uvguix.Administrator
MDK_Project/Project.uvoptx
